
/*begin tisa*/
@font-face {
  font-family: 'ff-tisa-web-pro';
  src : url('../fonts/tisa/tisaReg.eot');
  src : url('../fonts/tisa/tisaReg.eot?#iefix') format('eot'),
        url('../fonts/tisa/tisaReg.woff2') format('woff2'),
        url('../fonts/tisa/tisaReg.woff') format('woff'),
        url('../fonts/tisa/tisaReg.ttf') format('truetype');
  font-weight: 400;/* tisa sans regular */
  font-style: normal;
  font-variant: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ff-tisa-web-pro';
  src : url('../fonts/tisa/tisaRegIt.eot');
  src : url('../fonts/tisa/tisaRegIt.eot?#iefix') format('eot'),
        url('../fonts/tisa/tisaRegIt.woff2') format('woff2'),
        url('../fonts/tisa/tisaRegIt.woff') format('woff'),
        url('../fonts/tisa/tisaRegIt.ttf') format('truetype');
  font-weight: 400;/* tisa sans regular italic*/
  font-style: italic;
  font-variant: normal;
}
@font-face {
  font-family: 'ff-tisa-web-pro';
  src : url('../fonts/tisa/tisaBold.eot');
  src : url('../fonts/tisa/tisaBold.eot?#iefix') format('eot'),
        url('../fonts/tisa/tisaBold.woff2') format('woff2'),
        url('../fonts/tisa/tisaBold.woff') format('woff'),
        url('../fonts/tisa/tisaBold.ttf') format('truetype');
  font-weight: 700;/* tisa sans bold */
  font-style: bold;
  font-variant: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ff-tisa-web-pro';
  src : url('../fonts/tisa/tisaBoldIt.eot');
  src : url('../fonts/tisa/tisaBoldIt.eot?#iefix') format('eot'),
        url('../fonts/tisa/tisaBoldIt.woff2') format('woff2'),
        url('../fonts/tisa/tisaBoldIt.woff') format('woff'),
        url('../fonts/tisa/tisaBoldIt.ttf') format('truetype');
  font-weight: 700;/* tisa sans bold italic */
  font-style: italic;
  font-variant: normal;
  font-stretch: normal;
  font-display: swap;
}
/*begin tisa*/
@font-face {
  font-family: 'ff-tisa-sans-web-pro';
  src : url('../fonts/tisa/tisaSansReg.eot');
  src : url('../fonts/tisa/tisaSansReg.eot?#iefix') format('eot'),
        url('../fonts/tisa/tisaSansReg.woff2') format('woff2'),
        url('../fonts/tisa/tisaSansReg.woff') format('woff'),
        url('../fonts/tisa/tisaSansReg.ttf') format('truetype');
  font-weight: 400;/* tisa sans regular */
  font-style: normal;
  font-variant: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ff-tisa-sans-web-pro';
  src : url('../fonts/tisa/tisaSansRegIt.eot');
  src : url('../fonts/tisa/tisaSansRegIt.eot?#iefix') format('eot'),
        url('../fonts/tisa/tisaSansRegIt.woff2') format('woff2'),
        url('../fonts/tisa/tisaSansRegIt.woff') format('woff'),
        url('../fonts/tisa/tisaSansRegIt.ttf') format('truetype');
  font-weight: 400;/* tisa sans regular italic*/
  font-style: italic;
  font-variant: normal;
}
@font-face {
  font-family: 'ff-tisa-sans-web-pro';
  src : url('../fonts/tisa/tisaSansBold.eot');
  src : url('../fonts/tisa/tisaSansBold.eot?#iefix') format('eot'),
        url('../fonts/tisa/tisaSansBold.woff2') format('woff2'),
        url('../fonts/tisa/tisaSansBold.woff') format('woff'),
        url('../fonts/tisa/tisaSansBold.ttf') format('truetype');
  font-weight: 700;/* tisa sans bold */
  font-style: bold;
  font-variant: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ff-tisa-sans-web-pro';
  src : url('../fonts/tisa/tisaSansBoldIt.eot');
  src : url('../fonts/tisa/tisaSansBoldIt.eot?#iefix') format('eot'),
        url('../fonts/tisa/tisaSansBoldIt.woff2') format('woff2'),
        url('../fonts/tisa/tisaSansBoldIt.woff') format('woff'),
        url('../fonts/tisa/tisaSansBoldIt.ttf') format('truetype');
  font-weight: 700;/* tisa sans bold italic */
  font-style: italic;
  font-variant: normal;
  font-stretch: normal;
  font-display: swap;
}
/*end tisa*/

.tisa {
  font-family: 'ff-tisa-web-pro', serif;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
}
.tisaReg {
  font-style: normal;
  font-weight: 400;
}
.tisaRegItalic {
  font-style: italic;
  font-weight: 400;
}
.tisaBold {
  font-style: normal;
  font-weight: 700;
}
.tisaBoldItalic {
  font-style: italic;
  font-weight: 700;
}
.tisaSans {
  font-family: 'ff-tisa-sans-web-pro', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
}
.tisaSansReg {
  font-style: normal;
  font-weight: 400;
}
.tisaSansRegItalic {
  font-style: italic;
  font-weight: 400;
}
.tisaSansBold {
  font-style: normal;
  font-weight: 700;
}
.tisaSansBoldItalic {
  font-style: italic;
  font-weight: 700;
}
body {
  font-family: 'ff-tisa-sans-web-pro', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  background-image: url("..img/loremIpsumBackground.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.intro {
  font-family: 'ff-tisa-web-pro', serif;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  color: rgba(65,82,104,1.0);
  font-size:1.125em;
}
.intro h1 {
  text-align: center;
  margin-top:.5em;
}
.intro p {
  text-align: center;
}
.formBackground {
  background-color:rgba(255,255,255, 0.75);
}

h2 {
  font-family: 'ff-tisa-web-pro', serif;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  color: rgba(65,82,104,1.0);
  font-size:1em;
  text-align: center;
  margin-top:1em;
}

textarea {
  width: 100%;
}
ul {
  list-style: none;
}

.btn {
  background-color: rgba(65,82,104,1.0);
  border: 1px solid rgba(65,82,104,1.0);
  color: rgba(255,255,255,1.0);
  margin-top:.5em;
  margin-bottom:1em;
}
.btn:hover {
  background-color: rgba(65,82,104,.5);
}
.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(60,78,95,1.0);
}
#userSentenceIntro {
  display:none;
}
